.gitattributes text eol=lf
ReadMe.txt text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ps1 text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.resx text eol=lf
*.md text eol=lf
GUI/*.Designer.cs whitespace=-blank-at-eol
